<a href="https://colab.research.google.com/github/JakeOh/20230228_itwill_java140_lab_python/blob/main/py09_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체 지향 프로그래밍(OOP: Object-Oriented Programing)

In [15]:
class Student:
    # 생성자 함수: 생성자를 호출하면 파이썬 인터프리터에 의해서 자동으로 호출되는 메서드.
    def __init__(self, no, name, python, java, javascript):
        self.no = no
        self.name = name
        self.python = python
        self.java = java
        self.javascript = javascript

    def get_total(self):
        # 파이썬의 메서드는 멤버들을 접근할 때 반드시 self 키워드를 사용해야 함.
        return self.python + self.java + self.javascript

    def get_mean(self):
        return self.get_total() / 3

    def print_info(self):
        print(f'Student(번호={self.no}, 이름={self.name}, python={self.python}, java={self.java}, javascript={self.javascript})')

In [16]:
# Student 타입의 객체 생성
student1 = Student(1, '홍길동', 100, 90, 50)  # 생성자 호출: 생성자 이름-클래스 이름, new 키워드를 사용하지 않음.

In [17]:
print(student1)  # 객체 student1을 문자열로 출력

<__main__.Student object at 0x7f7f5f894a60>

In [18]:
student1  # 객체 students1의 식(expression)을 출력

In [19]:
student1.no

1

In [20]:
student1.name

'홍길동'

In [21]:
student1.get_total()

240

In [22]:
student1.get_mean()

80.0

In [23]:
student1.print_info()

Student(번호=1, 이름=홍길동, python=100, java=90, javascript=50)

In [24]:
import math
# math 모듈을 임포트 -> math.sqrt()

*  class: Point
    *  2차원 평면의 점의 좌표 (x, y)를 표현하는 클래스.
*  생성자 함수: x, y를 초기화. x, y의 기본값은 0.
*  메서드:
    *  move: 점의 좌표를 원래 위치에서 dx, dy만큼 이동시키는 메서드.
    *  distance: 현재 점의 위치에서 다른 점까지의 거리를 계산해서 리턴하는 메서드.
        *  `sqrt((x1 - x2)**2 + (y1 - y2)**2)`
        
>>> $ \sqrt{(x_1 - x_2)^2 + (y_1 - y_2)^2} $

In [25]:
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def move(self, dx, dy):
        self.x += dx
        self.y += dy

    def distance(self, pt):
        return math.sqrt((self.x - pt.x) ** 2 + (self.y - pt.y) ** 2)

In [26]:
pt1 = Point()  # 생성자 함수의 default argument 사용
pt1

In [27]:
print(f'x={pt1.x}, y={pt1.y}')

x=0, y=0

In [28]:
pt1.move(1, 1)
print(f'x={pt1.x}, y={pt1.y}')

x=1, y=1

In [29]:
pt2 = Point(1, 2)
print(f'x={pt2.x}, y={pt2.y}')

x=1, y=2

In [30]:
pt1.distance(pt2)

1.0

# magic method

모든 클래스가 같은 이름으로 가지고 있는 메서드.

특별한 경우에 파이썬 인터프리터에 의해서 호출되는 메서드.

*  `__init__()`:
    *  생성자를 호출하면 자동으로 호출되는 메서드.
    *  인스턴스의 필드(프로퍼티)들을 선언하고 초기화하는 메서드.
*  `__str__()`:
    *  `print()`함수의 아규먼트 객체일 때 자동으로 호출되는 메서드.
    *  문자열을 리턴하는 메서드.
*  `__repr__()`: representation.
    *  식(expression)을 출력할 때 자동으로 호출되는 메서드.
    *  `print()` 함수의 동작 방식:
        *  객체를 출력하기 위해서, 그 객체의 `__str__()` 메서드를 호출함.
        *  `__str__()` 메서드가 없는 경우에는, `__repr__()` 메서드를 호출함.
        *  `__str__()` 메서드와 `__repr__()` 메서드가 모두 없는 경우에는, 기본 문자열 (... object at 0x....)로 출력.

In [43]:
class T:
    def __str__(self):
        return 'class T instance'

    def __repr__(self):
        return 'T'

In [44]:
t = T()  # 생성자 호출 -> __init__() 메서드 호출

In [45]:
print(t)  # __str__() 메서드 자동 호출

class T instance

In [46]:
t  # __repr__() 메서드 자동 호출

T

*  `__eq__()`: eqaul
    *  `==` 연산자를 사용했을 때 자동으로 호출되는 메서드.
    *  두 객체가 같은 지(True) 다른 지(False)를 리턴.

In [47]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list1 == list2  # list 클래스가 __eq__ 메서드를 구현하고 있기 때문에.

True

In [52]:
class Number:
    def __init__(self, n):
        self.n = n

    def __repr__(self):
        return str(self.n)

    def __eq__(self, other):
        return self.n == other.n

In [53]:
n1 = Number(1)
n1

1

In [54]:
n2 = Number(1)
n2

1

In [55]:
n1 == n2  # n1.__eq__(n2)

True

# Exercise

*  class Score
    *  프로퍼티: korean, math, science (int 타입)
    *  메서드: `__init__`, `__repr__`, `__eq__`, `get_total`, `get_mean`
*  class Student
    *  프로퍼티: no(int), name(str), score(Score)
    *  메서드: `__init__`, `__repr__`

In [56]:
class Score:
    def __init__(self, korean=0, math=0, science=0):
        self.korean = korean
        self.math = math
        self.science = science

    def __repr__(self):
        return f'Score(korean={self.korean}, math={self.math}, science={self.science})'

    def __eq__(self, other):
        return self.korean == other.korean and \
                self.math == other.math and \
                self.science == other.science

    def get_total(self):
        return self.korean + self.math + self.science

    def get_mean(self):
        return self.get_total() / 3

In [57]:
score1 = Score()
score1

Score(korean=0, math=0, science=0)

In [58]:
score2 = Score(90, 80, 50)
score2

Score(korean=90, math=80, science=50)

In [59]:
score3 = Score(math=100)
score3

Score(korean=0, math=100, science=0)

In [60]:
score1 == score2

False

In [61]:
score4 = Score(math=80, science=50, korean=90)
score4

Score(korean=90, math=80, science=50)

In [62]:
score2 == score4

True

In [63]:
score4.get_total()

220

In [64]:
score4.get_mean()

73.33333333333333

In [65]:
class Student:
    def __init__(self, no, name, score):
        self.no = no
        self.name = name
        self.score = score

    def __repr__(self):
        return f'Student(no={self.no}, name={self.name}, score={self.score})'

In [66]:
student1 = Student(1, '오쌤', score1)
student1

Student(no=1, name=오쌤, score=Score(korean=0, math=0, science=0))

In [67]:
student2 = Student(2, '홍길동', Score())
student2

Student(no=2, name=홍길동, score=Score(korean=0, math=0, science=0))

In [68]:
student1.score == student2.score
# student1.score.__eq__(student2.score)

True